<header>
    <nav>
        <h1><a href="/">EShop</a></h1>
        <ul>
            <li><a href="/product/add-product">Add Product</a></li>
            <li><a href="/">Shop Products</a></li>
        </ul>
    </nav>
</header>