<%- include('./includes/head.ejs') %>
    <%- include('./includes/navigation.ejs') %>
        <div class="add-product">
            <h2>Add your products</h2>
            <form action="/product/addProduct" method="post">
                <div class="form-control">
                    <label for="prodName">Product Name:</label>
                    <input type="text" name="prodName" id="prodName" />
                </div>
                <button type="submit">Add</button>
            </form>
        </div>
        <%- include('./includes/end.ejs') %>