<%- include('./includes/head.ejs') %>
    <%- include('./includes/navigation.ejs') %>
        <div class="homePage">
            <h2>All Products</h2>
            <div class="productList">
                <div class="card">
                    <div>
                        <img src="" alt="">
                    </div>
                    <p>Book Name</p>
                    <p>Book Amount</p>
                </div>
            </div>
        </div>
        <%- include('./includes/end.ejs') %>